{%load levels_tags%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Menu</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

{%include 'include/pagination.html'%}
{%block page_1%} {%endblock%}
{%block page_2%} {%endblock%}
{%block page_3%} {%endblock%}
{%block page_4%} {%endblock%}
{%block page_5%} {%endblock%}






  </body>
</html>






<script defer>
    var levels = document.querySelectorAll(".level")
    for (var i = 0; i < levels.length; i++)
    {
      levels[i].addEventListener('click', function handler(e){
        e.preventDefault()
        console.log("{{unfolded_items_id}}")
        console.log(this.href)
        window.location = `${this.href}&unfolded_items_id={{unfolded_items_id}}`
      })
    }


</script>

<style media="screen">
body{
  background-color: #c5d5cb;
}
</style>
