<ul>
  {%for mn in menues%}
  {%if mn.level_set.all|length%}
      {%if mn in unfolded_items%}
    <li><a data-id = "{{mn.id}}" class = "level" href="?new_disabled_item_id={{mn.id}}">{{mn.title}}</a></li>
      {%else%}
    <li><a data-id = "{{mn.id}}" class = "level" href="?new_active_item_id={{mn.id}}">{{mn.title}}</a></li>
   {%endif%}
  {%else%}
    <li>{{mn.title}}</li>
  {%endif%}
    {%if mn in unfolded_items%}
        {%if mn.level_set.all|length%}
          {% include "include/menu_tag.html" with menues=mn.level_set.all%}
        {%endif%}
    {%endif%}
  {%endfor%}
</ul>
