<ul>
  {%for mn in menues%}
  {%if mn.level_set.all|length%}
      {%if mn in unfolded_items%}
    <li><a  class = "list-group-item level list-group-item-action list-group-item-primary" href="?new_disabled_item_id={{mn.id}}">{{mn.title}}</a></li>
      {%else%}
    <li><a class = "list-group-item level list-group-item-action list-group-item-primary" href="?new_active_item_id={{mn.id}}">{{mn.title}}</a></li>
   {%endif%}
  {%else%}
    <li class = "list-group-item ">{{mn.title}}</li>
  {%endif%}
    {%if mn in unfolded_items%}
        {%if mn.level_set.all|length%}
          {% include "include/menu_tag.html" with menues=mn.level_set.all%}
        {%endif%}
    {%endif%}
  {%endfor%}
</ul>
